header{
    background-color: #3f3622;
    font-size: 3em;
    color: white;
    text-align: center;
    margin: 0 1em 0 1em;
}

body{
    background-color: beige;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0 1em 0 1em;
}

h1, h2, body{
    padding: 0.2em 0 0.2em 0;
}
